@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-natural-bg: #E6E6DF;
  --color-natural-screen: #F9F9F4;
  --color-natural-accent: #5A5A40;
  --color-natural-text: #2D2D2A;
  --color-natural-muted: #8A8A80;
  --color-natural-border: #E2E2D8;
}

@layer base {
  body {
    @apply bg-natural-bg text-natural-text font-sans;
  }
}
